		<div class="row">
				<main class="col-md-12">

                    <hr>
                    <h1>About</h1>
                    <h5>This page is the about section!</h5> 
                    <hr>
                    <br>
                    <section>
                        <h3>About the Author</h3>
                        <!--Keep Links as is, but change context of below paragraph-->
                        <br>
                        <p>Rahul Pankaja Edirisinghe, 133360222, Database Application Development at Seneca College, Canada.<br>
						I like Video games and a good Pun. This website was created for a Course assignment.</p>
                    </section>


				</main>
			</div>