			<div class="row">
				<main class="col-md-12">

                    <hr>
                    <h1>Hi!</h1>
                    <h5>Welcome to my Website!</h5> 
                    <p>Here  will be demonstrating HTML5 principles and techniques,<br>
						 Routing in Express, creating a server using express and <br>
						creating HTML web pages as taught to me by the WEB700 course.</p>
					<!-- Start your code here -->
					<br>
                    <hr>
                    <br>
                    <section>
                        <h3>Introduction & Relevant Links</h3>
                        <!--Keep Links as is, but change context of below paragraph-->
                        <br>
                        <p>This site consists of 3 static views (Home, 
                            About, HTML Demo) as well as 5 routes that supply data, including: 
                            <br><a href="/students">All Students</a>, 
                            <br>Students by Course; For example: <a href="/students?course=3">Students in Course 3</a>, 
                            <br>A Single Student By Student Number; For example: <a href="/student/22">Student Number 22</a>, 
                            <br><a href="/tas">All TAs</a> and 
                            <br><a href="/courses">All Courses</a>
							<br>The <a href="/about">About Page</a>
							<br>The <a href="/htmlDemo">HTML Demo Page</a>
							<br> And Finally this Page: <a href="/">Home</a>
                            <br>
                            These links lead to the relevant pages of this website.</p>
                    </section>
                    <br>
                    <hr>
                    <br>
                    <section>
                        <h3>About HTML5</h3>
                        <br>
                        <p>This site is powered by HTML5. HTML is a markup language that is used to create content on the World Wide Web.<br>
							Such content can be like the web page you are currently in! HTML5 is the current version that is approved <br>
							by the World Wide Web Convention. HTML also allows for the use of symbols such as : &Alpha; , &Phi;, &tcaron; and &Jcy;.
                            Source: <a href="https://en.wikipedia.org/wiki/HTML5">LINK</a>
                        </p>
                    </section>
					
					
					<!-- End your code here  -->



				</main>
			</div>