            <div class="row">
				<main class="col-md-12">
                    
                    <h1>Demos</h1>
                    <br>
                    <section>
                        <h2>Table</h2>
                        <h5>Tabulate your Carols and Houses!</h5> 
                        <hr>
                        <table border="10">
                            <caption>Captions appear under the table</caption>
                            <thead>
                                <tr>
                                    <th>12</th>
                                    <th>Days</th>
                                    <th>of</th>
                                    <th>Christmas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2" rowspan="2">12 drummers drumming</td><td>Eleven pipers piping</td><td rowspan="2"><em>Ten lords a-leaping</em></td>
                                </tr>
                                <tr>
                                    <td>Nine ladies dancing</td>
                                </tr>
                                <tr>
                                    <td>Eight maids a-cleaning</td><td>Seven swans a-swimming</td><td>Six geese a-laying</td><td rowspan = "2"><strong>Five golden rings</strong></td>
                                </tr>
                                <tr>
                                    <td>Four calling birds</td><td>Three French hens</td><td>Two turtle-doves</td>
                                </tr>
                                <tr>
                                    <td colspan="4">And a partridge in a <strong>Pear Tree</strong></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr><td>12</td><td>Days</td><td>of</td><td>Christmas</td></tr>
                            </tfoot>
                        </table>
                        <br>
                        <table border="5">
                            <caption>This table resembles a house .. a square one</caption>
                            <thead>
                                <tr>
                                    <th>-</th>
                                    <th>-</th>
                                    <th>-</th>
                                    <th>roof</th>
                                    <th>-</th>
                                    <th>-</th>
                                    <th>-</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan = "5">wall</td><td colspan = "5">wall</td><td rowspan = "5">wall</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" colspan="2">win<br>dow</td><td colspan ="1">-</td><td rowspan="2" colspan="2">win<br>dow</td>
                                </tr>
                                <tr>
                                    <td colspan ="1">-</td>
                                </tr>
                                <tr>
                                    <td colspan="2">-</td><td rowspan="2">d<br>o<br><a href="https://www.google.ca/">o</a><br>r</td><td colspan="2">-</td>
                                </tr>
                                <tr>
                                    <td colspan="2">-</td><td colspan="2">-</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <p>The contents of the table:<br>
                            Table 1 contants are based on the 12 Days of Christmas Carol and are slightly adjusted.<br> 
                            The table proportions are distored using rowsapn and colspan to showcase these HTML tags<br><br>
                            Table 2 contents are meaningless for the most part: the table has be distored to look like a house.<br>
                            The second 'o' in door leads to google. Walls could not be merged further due to errors.
                            </p>
                        <hr>
                    </section>
                    <br>
                    <br>
                    <section>
                        <!--hr-->
                        <h2>List</h2>
                        <h5>Lists!? In this time of year?</h5> 
                        <hr>
                        <!--unordered list-->
                        <ul>
                            <li>In this time of day?</li>
                            <li>In this part of the Country?</li>
                            <li>
                                <ol>
                                    <li>Localized</li>
                                    <li>Entirely</li>
                                    <li>Within</li>
                                    <li>Your</li>
                                    <li>Kitchen<strong>?!</strong></li>
                                </ol>
                            </li>
                            <li>..Yes</li>
                            <li>May I see it?</li>
                            <li><em>No.</em></li>
                        </ul>
                        <p>Information About the Lists: Array.New = Aurora Borealis<br>
                        The above is a meme based on an old Simpson's Skit written down in List format.
                        </p>
                        <hr>
                    </section>
                    <br>
                    <br>
                    <section>
                        <!--hr-->
                        <h2>Images</h2>
                        <h5>They used to move / Its pronounced 'gif'</h5> 
                        <br>
                        <h5 class="imageheader">Image 1</h5>
                        <hr>
                        <img src="/images/Lamborghini_Miura_(Kirchzarten)_jm20695.jpg" alt="Orange Lamborghini Muira, in a Museum"> <p class="plink">© Jörgens.mi : <a href="https://commons.wikimedia.org/wiki/File:Lamborghini_Miura_(Kirchzarten)_jm20695.jpg">Wikipedia Commons Link</a></p>
                        <br>
                        <h5 class="imageheader">Image 2</h5>
                        <hr>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/B-747_Iberia.jpg" alt="A Flying Boeing 747 in Iberia Airlines Livery" width = "799" height="599"> <p class="plink">&copy;Iberia Airlines : <a href="https://commons.wikimedia.org/wiki/File:B-747_Iberia.jpg">Wikipedia Commons Link</a></p>
                        <br>
                        <h5 class="imageheader">Image 3</h5>
                        <hr>
                        <img src="/images/OdontodactylusScyllarus2.jpg" alt="A red hued Mantis Shrimp"> <p class="plink">&copy;Public Domain - National Science Foundation : <a href="https://commons.wikimedia.org/wiki/File:OdontodactylusScyllarus2.jpg">Wikipedia Commons Link</a></p>
                        <br>
                        <p>
                        <strong>Image 1:</strong> shows an orange Lamborghini Muira, considered by many car enthusiasts to be the original supercar, <br>
                        or at-least popularized the term when it rolled off the production line in 1966. A superb and classic Lambo.
                        <br>
                        <br>
                        <strong>Image 2:</strong> shows a Boeing 747 in Flight in the livery of Iberia Airlines. called the original Jumbo Jet and the Queen of the Skies.<br>
                        The last 747 was produced in 2023 and sold to Atlas Airlines. The model is no longer being produced. It is is one of my favorite Airplanes.
                        <br>
                        <br>
                        <strong>Image 3:</strong> shows a Red Mantis Shrimp. Though on the smaller side these aquatic hunters deliver one of the hardest punches,<br>
                        capable of shattering glass, human finger bones or any unfornate prey. They also possess the most complex eyes in the animal kingdom. <br>
                        Overall a really cool crusteacean.</p>
                        <hr>
                    </section>
                    <br>
                    <br>
                    <section>
                        <!--hr-->
                        <h2>Audio</h2>
                        <h5>Whats that Sonny? Speak up!</h5> 
                        <hr>
                        
                        <audio controls>
                            <source src="/audio/sample-audio.mp3" type="audio/mp3">
                            <source src="/audio/sample-audio.ogg" type="audio/ogg">

                            <p>Sorry, your browser doesn't support HTML5 audio. Here is a <a href="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.mp3">link to the audio</a> instead</p>.
                        </audio>
                        <p>Information About Audio Visual Design in 2025<br>
                        Royalty Free Music graciously provided to me by my Professor for this unit.<br></p>
                        <p class="plink">Sources : <a href ="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.mp3">Link1</a> | <a href="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.ogg">Link2</a></p>
                        <hr>
                    </section>
                    <br>
                    <br>
                    <section>
                        <!--hr-->
                        <h2>Video</h2>
                        <h5>Killed the Radio Star</h5> 
                        <hr>
                        <video width="640" height="480" controls>
                            <source src="/videos/sample-video.mp4" type="video/mp4">
                            <source src="/videos/sample-video.ogg" type="video/ogg">
                            <source src="/videos/sample-video.webm" type="video/webm">

                            <p>Sorry, your browser doesn't support HTML5 video</p>
                        </video>
                        <p>Information About the Video: The title above joke is based on <a href="https://www.youtube.com/watch?v=W8r-tXRLazs">this Song by the band: TheBuggles</a><br>
                        The Video is the Globe,i.e. Earth Ball, Rotating Royalty Free from trouble. Provided to me by my Professor<br></p>
                        <p class="plink">Sources : <a href ="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.mp4">Link1</a> | <a href="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.ogg">Link2</a> | <a href="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.webm">Link3</a></p>
                        <hr>
                    </section>
                    <h6>Header 6, so it is not left out! --- End of Page</h6>
                    <br>
				</main>
			</div>